{% extends "base_default.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Individuals.css' %}">






<div class="home">

    <br><br>
    <h1>WELCOME TO PET PET WORLD, HERE YOU CAN LOOK TROUGH OUR ANIMALS :)</h1>
    <br><br>

{% for animal in animals %}
    {% if animal.type == 2 %}
        <a href="/description/{{ animal.id }}/">
        <table><tr>
        <th><img src="{% static 'dog.png' %}"></th>
        <tr>
            <th>{{ animal.name }}
                <br>
                age: {{ animal.age }}
            </th>
        </tr>
        </table></a></tr>
    {% endif %}


    {% if animal.type == 1 %}
        <a href="/description/{{ animal.id }}/">
        <table><tr>
        <th><img src="{% static 'cat.png' %}"></th>
        <tr>
            <th>{{ animal.name }}
                <br>
                age: {{ animal.age }}
            </th>
        </tr>
        </table></a></tr>
    {% endif %}
{% endfor %}

</div>


{% endblock %}